@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

body{
    background-color: rgb(32, 32, 32);
}

.my-font{
    font-family: 'Druk wide bold', 'Poppins';
}

.orange-text{
    color: rgb(242, 160, 18);
}

header{
    background-color: rgb(37, 37, 37);
}

.todos-box{
    border: 1px solid rgb(242, 160, 18);
}

.my-button{
    background-color: transparent;
    border: 1px solid rgb(242, 160, 18);
    transition: 0.1s ease-in-out;

    &:hover{
        background-color: rgb(242, 160, 18);
        border: transparent;
    }
}

.my-input{
    border: 1px solid rgb(242, 160, 18);
    transition: 0.4s ease-in-out;
    &:focus{
        border: transparent;
        box-shadow: 0 0 8px rgba(424, 160, 18, 0.6);
        outline: none;
    }
}

.my-date{
    color: rgba($color: #ffffff, $alpha: 0.7);
}

.task-done{
    text-decoration: line-through;
    color: rgb(14, 206, 23);
}

.my-delete-button{
    background-color: transparent;
    border: 1px solid rgb(238, 50, 12);
    transition: 0.1s ease-in-out;

    &:hover{
        background-color: rgb(238, 50, 12);
        border: transparent;
    }
    
}